<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logar</servlet-name>
        <servlet-class>br.com.futurebrindes.servlets.controller.Logar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>br.com.futurebrindes.servlets.controller.Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>br.com.futurebrindes.servlets.controller.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bairro</servlet-name>
        <servlet-class>br.com.futurebrindes.servlets.controller.Bairro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logar</servlet-name>
        <url-pattern>/Logar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bairro</servlet-name>
        <url-pattern>/Bairro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Venda</servlet-name>
        <servlet-class>br.com.futurebrindes.servlets.controller.Venda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Venda</servlet-name>
        <url-pattern>/Venda</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>br.com.futurebrindes.servlets.controller.Cliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
